{% extends 'public/base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    <main class="mx-auto max-w-screen-xl p-8">
        <div class="mt-20 flex w-full justify-center">
            <h1 class="text-center">
                <span class="block text-xl font-medium uppercase text-coral-red-500">Keep watching</span>
                <span class="flex text-6xl font-bold uppercase text-white md:text-7xl">
                    <svg class="mr-2 w-2 self-end mb-3.5 fill-coral-red-500" fill="none" viewBox="0 0 11 11"><path d="M.81.31h10v10h-10z"/></svg>
                    My videos
                </span>
            </h1>
        </div>

        <section class="mt-16">
            <div class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-3">
                {% for video in youtubeVideos %}
                    <article>
                        <img class="w-full rounded" src="{{ video.thumbnail }}" alt="{{ video.title }}" data-modalpreview="modal-preview" data-video="{{ video.id }}">
                        <div class="mt-1 flex flex-col gap-4">
                            <time class="text-sm font-bold text-coral-red-500">{{ video.publishedAt|date ('d F Y') }}</time>
                            <h2 class="text-2xl font-bold leading-8 text-white">{{ video.title }}</h2>
                            <p class="leading-7 text-gray-400">{{ video.description }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div class="mt-16 flex justify-center">
                <a href="https://www.youtube.com/@papywillytv3794/videos">
                    <button class="max-w-fit self-center px-6 text-center font-bold uppercase text-white transition bg-coral-red-500 py-3.5 hover:bg-coral-red-700">Load more</button>
                </a>
            </div>
        </section>

        <div aria-hidden="true" class="invisible fixed top-0 left-0 z-20 flex h-screen w-screen flex-col items-center justify-center opacity-0 transition duration-500" id="modal-preview">
            <iframe class="z-20 aspect-video w-full max-w-screen-lg" id="iframeVideo" allowfullscreen></iframe>
        </div>
    </main>
{% endblock %}
