{% extends 'public/base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    <main class="mx-auto max-w-screen-xl p-8">
        <div class="mt-20 flex w-full justify-center">
            <h1 class="text-center">
                <span class="block text-xl font-medium uppercase text-coral-red-500">Regardez</span>
                <span class="flex text-6xl font-bold uppercase text-white md:text-7xl">
                    <svg class="mr-2 w-2 self-end mb-3.5 fill-coral-red-500" fill="none" viewBox="0 0 11 11"><path d="M.81.31h10v10h-10z"/></svg>
                    Mes dernières<br>vidéos
                </span>
            </h1>
        </div>

        <section class="mt-16">
            <div class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-3">
                {% for video in youtubeVideos %}
                    <article>
                        <div class="relative">
                            <img class="w-full rounded" src="{{ video.thumbnail }}" alt="{{ video.title }}">
                            <div class="cursor-pointer rounded absolute inset-x-0 inset-y-0 flex w-full items-center justify-center transition duration-300 group hover:bg-red-500/75" data-modalpreview="modal-preview" data-video="{{ video.id }}">
                                <svg class="h-32 w-32 opacity-0 transition duration-300 group-hover:opacity-100 fill-white" viewBox="0 0 24 24"><path d="m9.5 16.5 7-4.5-7-4.5v9ZM12 22q-2.08 0-3.9-.79t-3.17-2.14q-1.35-1.35-2.14-3.17T2 12q0-2.08.79-3.9t2.14-3.17Q6.28 3.57 8.1 2.78T12 2q2.08 0 3.9.79t3.17 2.14q1.35 1.35 2.14 3.17T22 12q0 2.08-.79 3.9t-2.14 3.17q-1.35 1.35-3.17 2.14T12 22Zm0-2q3.35 0 5.67-2.33T20 12q0-3.35-2.33-5.67T12 4Q8.65 4 6.33 6.33T4 12q0 3.35 2.33 5.67T12 20Zm0-8Z"/></svg>
                            </div>
                        </div>
                        <div class="mt-1 flex flex-col gap-4">
                            <time class="text-sm font-bold text-coral-red-500">{{ video.publishedAt|date ('d F Y', "Europe/Paris")|format_datetime(pattern="d MMMM Y", locale='fr') }}</time>
                            <h2 class="text-2xl font-bold leading-8 text-white">{{ video.title|html_entity_decode }}</h2>
                            <p class="leading-7 text-gray-400">{{ video.description|html_entity_decode }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div class="mt-16 flex justify-center">
                <a href="{{settings.youtubeChannel}}" target="_blank" rel="noreferrer nofollow noopener">
                    <button class="max-w-fit self-center px-6 text-center font-bold uppercase text-white transition bg-coral-red-500 py-3.5 hover:bg-coral-red-700">Voir plus de vidéos</button>
                </a>
            </div>
        </section>

        <div aria-hidden="true" class="invisible fixed top-0 left-0 z-20 flex h-screen w-screen flex-col items-center justify-center opacity-0 transition duration-500" id="modal-preview">
            <iframe class="z-20 aspect-video w-full max-w-screen-lg" id="iframeVideo" allowfullscreen></iframe>
        </div>
    </main>
{% endblock %}
