{% extends 'admin/base.html.twig' %}

{% set title = "Gestion des bannières" %}

{% block pageTitle %}Admin - {{ title }}{% endblock %}

{% block body %}
<main class="mx-auto mt-16 w-full max-w-screen-xl grow p-4">
    <h1 class="my-8 text-4xl font text-center">{{ title }}</h1>

    <div class="flex justify-end">
        <a class="rounded bg-slate-50 px-4 py-2 font-medium transition hover:bg-slate-600 hover:text-white" href="{{ path('app_admin_banner_new') }}">Ajouter une bannière</a>
    </div>
    
    <section class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-8 mt-16">
        {% for banner in banners %}
            <figure class="break-inside-avoid mb-8 bg-slate-200 rounded">
                <div class="relative">
                    <img class="rounded-t" src="{{ vich_uploader_asset(banner) }}" alt="{{ banner.altText }}">
                        <div class="absolute top-0 right-0">
                            {{ include('admin/banner/_delete_form.html.twig') }}
                        </div>
                        <a title="Editer" class="absolute top-0 left-0" href="{{ path('app_admin_banner_edit', {'id': banner.id}) }}">
                            <svg class="w-8 text-slate-300 hover:text-green-500 transition" fill="none" viewBox="0 0 33 32"><path fill="currentColor" stroke="#000" d="m18.51 10.71-.35.36.35.35 2.74 2.73.35.36.35-.36 1.33-1.33c.5-.47.5-1.26 0-1.74l-1.7-1.7a1.2 1.2 0 0 0-1.74 0l-1.33 1.33Zm-8.86 8.86-.15.14v3.46h3.45l.15-.15 8.08-8.08.35-.35-.35-.36-2.75-2.74-.35-.36-.35.36-8.08 8.08ZM26 4.5a2.17 2.17 0 0 1 2.17 2.17v18.66A2.17 2.17 0 0 1 26 27.5H7.33a2.17 2.17 0 0 1-2.16-2.17V6.67A2.17 2.17 0 0 1 7.33 4.5H26Z"/></svg>
                        </a>
                    </div>
                <figcaption class="py-2 p-1">{{ banner.altText }}</figcaption>
            </figure>
        {% else %}
            <p>Aucune bannière enregistrée.</p>
        {% endfor %}
    </section>
</main>
{% endblock %}
