{% extends 'public/base.html.twig' %}

{% block stylesheets %}
    {{ vite_entry_link_tags('splide') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('splide') }}
    {{ parent() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'public/home/header.html.twig' with { 'banners': banners } %}
    <main class="mx-auto w-full max-w-screen-xl p-4">
        {% if settings.aboutTitle %}
            <section class="mx-auto mt-16 flex max-w-screen-xl">
                <div class="lg:pr-8 mx-auto w-full max-w-screen-sm lg:w-3/4">
                    <h2 class="text-xl font-medium uppercase text-coral-red-500">A propos</h2>
                    <p class="mt-8 text-5xl font-bold uppercase text-white">{{ settings.aboutTitle }}</p>
                    <p class="mt-8 text-xl font-medium text-gray-400">{{ settings.aboutDescription }}</p>
                    <p class="mt-8 text-right text-3xl font-semibold text-white lg:mt-8">{{ SITE_NAME }}</p>
                </div>
                <div class="hidden mx-auto w-full max-w-screen-sm lg:w-1/3 lg:flex">
                    <img class="rounded object-cover object-center" src="{{ vich_uploader_asset(settings, 'imageFile') | imagine_filter('settings') }}" alt="Photo pour illustrer la section à propos.">
                </div>
            </section>
        {% endif %}

        <div class="flex flex-wrap xl:flex-nowrap">
            <section class="mx-auto mt-32 w-full max-w-screen-sm lg:w-3/4">
                <div class="flex w-full justify-center">
                    <h2 class="text-center">
                        <span class="block text-xl font-medium uppercase text-coral-red-500">My streaming</span>
                        <span class="flex text-5xl font-bold uppercase text-white">
                            <svg class="mr-2 w-2 self-end mb-3.5 fill-coral-red-500" fill="none" viewBox="0 0 11 11"><path d="M.81.31h10v10h-10z"/></svg>
                        Hardware
                    </span>
                    </h2>
                </div>
                <div x-data="{ hardwareExpanded: false }">
                    <div class="mt-16 flex flex-col items-center gap-16 md:gap-8"
                         x-cloak
                         x-show="hardwareExpanded"
                         x-collapse.min.325px
                    >
                        {% for hardware in hardwares %}
                            <div class="flex w-full max-w-2xl flex-wrap items-center justify-between gap-x-8">
                                <div class="flex grow gap-8">
                                    <div class="w-14 text-center">
                                        <i title="{{ hardware.icon|replace({'icon-': '', '-': ' '})|upper }}" class="icon {{ hardware.icon }} text-5xl text-white hover:text-coral-red-500 transition"></i>
                                    </div>
                                    <div class="flex flex-col justify-center">
                                        <p class="text-xl text-white">{{ hardware.brand }}</p>
                                        <p class="text-gray-400">{{ hardware.model }}</p>
                                    </div>
                                </div>
                                <div class="flex w-full justify-end md:w-fit">
                                    <a class="max-w-fit px-6 text-center font-bold uppercase text-white transition bg-coral-red-500 py-3.5 hover:bg-coral-red-700" href="{{ hardware.url }}">Acheter!</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-2 flex cursor-pointer justify-center border-t-4 border-mirage-200" @click="hardwareExpanded = ! hardwareExpanded">
                        <svg class="w-16 fill-white" viewBox="0 0 20 20">
                            <path x-show="!hardwareExpanded" fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z"/>
                            <path x-show="hardwareExpanded" fill-rule="evenodd" d="M14.707 12.707a1 1 0 0 1-1.414 0L10 9.414l-3.293 3.293a1 1 0 0 1-1.414-1.414l4-4a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414z"/>
                        </svg>
                    </div>
                </div>
            </section>

            <section class="mx-auto mt-32 w-full max-w-screen-sm xl:w-1/3">
                <div class="flex w-full justify-center">
                    <h2 class="text-center">
                        <span class="block text-xl font-medium uppercase text-coral-red-500">A propos de</span>
                        <span class="flex text-5xl font-bold uppercase text-white">
                            <svg class="mr-2 w-2 self-end mb-3.5 fill-coral-red-500" fill="none" viewBox="0 0 11 11"><path d="M.81.31h10v10h-10z"/></svg>
                            Ma chaine
                        </span>
                    </h2>
                </div>
                <div class="mt-16">
                    <p class="text-gray-400">{{ settings.channelDescription }}</p>
                    <div class="mt-8">
                        <ul class="flex flex-col gap-8 text-gray-300">
                            <li class="flex justify-between">
                                <span>Pays:</span>
                                <span class="cursor-default self-center rounded border border-slate-100/20 bg-slate-100/10 px-1 text-sm font-semibold">{{ settings.channelCountry ?: '--' }}</span>
                            </li>

                            <li class="flex flex-wrap justify-between">
                                <span>Plateformes:</span>
                                {% set platformArray = settings.channelPlatforms|split(',') %}
                                <ul class="flex flex-wrap gap-1">
                                    {% for platform in platformArray %}
                                        <li class="cursor-default self-center rounded border border-slate-100/20 bg-slate-100/10 px-1 text-sm font-semibold">
                                            {{ platform }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="flex flex-wrap justify-between">
                                <span>Jeux favoris:</span>
                                {% set channelGamesArray = settings.channelGames|split(',') %}
                                <ul class="flex flex-wrap gap-1">
                                    {% for game in channelGamesArray %}
                                        <li class="cursor-default self-center rounded border border-slate-100/20 bg-slate-100/10 px-1 text-sm font-semibold">
                                            {{ game }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
