<header class="fixed right-0 left-0 z-20 shadow-md transition shadow-mirage-500/50 bg-mirage-600/95" x-data="{mainMenu: false}">
    <div class="mx-auto max-w-7xl">
        <div class="px-6 xl:ml-[300px]">
            <div class="flex h-16 justify-between">
                <button class="z-50 cursor-pointer text-4xl text-white lg:hidden" @click="mainMenu = !mainMenu">
                  <span class="flex rounded-md bg-slate-800 p-2 transition hover:bg-slate-700">
                      <svg viewBox="0 0 24 24" stroke-width="2.3" class="h-6 w-6 stroke-slate-100">
                          <path x-show="!mainMenu" stroke-linecap="round" stroke-linejoin="round"
                                d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                          <path x-show="mainMenu" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                      </svg>
                  </span>
                </button>
                <div class="flex items-center justify-center lg:w-full lg:px-0">
                    <a href="{{ path('app_home') }}" class="hidden fill-white lg:flex">
                        <svg class="h-12 w-full fill-white" viewBox="0 0 256 256">
                            <path d="M59.24 194H41.81c-2.87 0-4.31-1.44-4.31-4.31V66.3c0-2.87 1.44-4.31 4.3-4.31h50.06c10.67 0 18.94 2.94 24.82 8.83 5.88 5.75 8.82 13.96 8.82 24.63v19.71c0 10.67-2.94 18.95-8.82 24.84-5.88 5.75-14.15 8.62-24.82 8.62H66c-1.64 0-2.46.75-2.46 2.26v38.8c0 2.87-1.43 4.31-4.3 4.31Zm6.57-68.16h21.74c4.38 0 7.45-.89 9.23-2.66 1.78-1.92 2.67-5 2.67-9.24V96.69c0-4.38-.89-7.46-2.67-9.23-1.78-1.92-4.85-2.88-9.23-2.88H65.81c-1.5 0-2.26.75-2.26 2.26v36.75c0 1.5.75 2.25 2.26 2.25Z"/>
                            <path d="M86.56 194h28.62c2.73 0 4.36-1.44 4.9-4.31l18.6-70.69h.82l18.41 70.69c.41 2.87 2.05 4.31 4.9 4.31h28.84c2.72 0 4.3-1.44 4.7-4.31l22.08-123.17c.41-3.01-1.02-4.52-4.3-4.52h-21.25c-3.14 0-4.78 1.5-4.91 4.52L176.14 151h-1.64l-19.86-85.51c-.4-2.33-1.9-3.49-4.5-3.49h-22.9c-2.45 0-3.88 1.23-4.29 3.7L103 151h-1.43l-3.94-28.9c-.25.4-.53.77-.84 1.1-1.78 1.78-4.86 2.67-9.23 2.67H70.13l11.32 63.82c.4 2.87 2.1 4.31 5.1 4.31ZM63.54 88.72v-1.87c0-1.51.75-2.26 2.26-2.26h21.76c1.93 0 3.61.18 5.04.56L90.03 66.3c-.13-2.87-1.77-4.31-4.9-4.31H63.86c-3.27 0-4.7 1.44-4.3 4.31l3.98 22.4Z"/>
                            <path fill="#FF4654"
                                  d="M63.86 62h21.27c3.13 0 4.77 1.44 4.9 4.31l2.57 18.83a20 20 0 0 0-5.05-.56H65.81c-.52 0-.95.1-1.3.27-.64.34-.97 1-.97 2v1.87l-3.97-22.4c-.41-2.88 1.02-4.32 4.3-4.32Zm6.27 63.88 4.03 22.75h17.7c3.32 0 6.41-.28 9.27-.84l-3.5-25.68c-.25.4-.53.76-.84 1.1-1.78 1.78-4.86 2.67-9.23 2.67H70.13Zm50.47-50.17-16.7 71.44a28.83 28.83 0 0 0 12.78-7.14c5.88-5.89 8.82-14.17 8.82-24.84v-19.7c0-7.96-1.63-14.54-4.9-19.76Z"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-1 items-center justify-center px-2 sm:inset-0">
                    <a href="{{ path('app_home') }}" class="fill-white lg:hidden">
                        <svg class="h-12 w-full fill-white" viewBox="0 0 256 256">
                            <path d="M59.24 194H41.81c-2.87 0-4.31-1.44-4.31-4.31V66.3c0-2.87 1.44-4.31 4.3-4.31h50.06c10.67 0 18.94 2.94 24.82 8.83 5.88 5.75 8.82 13.96 8.82 24.63v19.71c0 10.67-2.94 18.95-8.82 24.84-5.88 5.75-14.15 8.62-24.82 8.62H66c-1.64 0-2.46.75-2.46 2.26v38.8c0 2.87-1.43 4.31-4.3 4.31Zm6.57-68.16h21.74c4.38 0 7.45-.89 9.23-2.66 1.78-1.92 2.67-5 2.67-9.24V96.69c0-4.38-.89-7.46-2.67-9.23-1.78-1.92-4.85-2.88-9.23-2.88H65.81c-1.5 0-2.26.75-2.26 2.26v36.75c0 1.5.75 2.25 2.26 2.25Z"/>
                            <path d="M86.56 194h28.62c2.73 0 4.36-1.44 4.9-4.31l18.6-70.69h.82l18.41 70.69c.41 2.87 2.05 4.31 4.9 4.31h28.84c2.72 0 4.3-1.44 4.7-4.31l22.08-123.17c.41-3.01-1.02-4.52-4.3-4.52h-21.25c-3.14 0-4.78 1.5-4.91 4.52L176.14 151h-1.64l-19.86-85.51c-.4-2.33-1.9-3.49-4.5-3.49h-22.9c-2.45 0-3.88 1.23-4.29 3.7L103 151h-1.43l-3.94-28.9c-.25.4-.53.77-.84 1.1-1.78 1.78-4.86 2.67-9.23 2.67H70.13l11.32 63.82c.4 2.87 2.1 4.31 5.1 4.31ZM63.54 88.72v-1.87c0-1.51.75-2.26 2.26-2.26h21.76c1.93 0 3.61.18 5.04.56L90.03 66.3c-.13-2.87-1.77-4.31-4.9-4.31H63.86c-3.27 0-4.7 1.44-4.3 4.31l3.98 22.4Z"/>
                            <path fill="#FF4654"
                                  d="M63.86 62h21.27c3.13 0 4.77 1.44 4.9 4.31l2.57 18.83a20 20 0 0 0-5.05-.56H65.81c-.52 0-.95.1-1.3.27-.64.34-.97 1-.97 2v1.87l-3.97-22.4c-.41-2.88 1.02-4.32 4.3-4.32Zm6.27 63.88 4.03 22.75h17.7c3.32 0 6.41-.28 9.27-.84l-3.5-25.68c-.25.4-.53.76-.84 1.1-1.78 1.78-4.86 2.67-9.23 2.67H70.13Zm50.47-50.17-16.7 71.44a28.83 28.83 0 0 0 12.78-7.14c5.88-5.89 8.82-14.17 8.82-24.84v-19.7c0-7.96-1.63-14.54-4.9-19.76Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed top-16 bottom-0 overflow-y-scroll opacity-0 shadow-slate-400/50 transition-all duration-300 bg-mirage-600/95 translate-x-[-300px] w-[300px] shadow-r-md lg:translate-x-0 lg:opacity-100"
         :class="{'!translate-x-0 !opacity-100': mainMenu}"
    >
        <nav>
            <div class="mt-8 px-4">
                <ul class="flex flex-col gap-3 [&>*]:font-semibold [&>*]:text-slate-100 [&>*]:cursor-pointer [&>*]:border-l-4 [&>*]:border-l-transparent [&>*]:transition-all [&>*]:duration-300 [&>*]:p-2.5 hover:[&>*]:border-l-coral-red-500 hover:[&>*]:px-4">
                    <li class="border-b border-b-slate-700">
                        <a class="block" href="{{ path('app_home') }}">Accueil du site</a>
                    </li>
                    <li>
                        <a class="block" href="{{ path('app_admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li>
                        <a class="block" href="{{ path('app_admin_social_network_index') }}">Réseaux sociaux</a>
                    </li>
                    <li>
                        <a class="block" href="{{ path('app_admin_hardware_index') }}">Materiel</a>
                    </li>
                    <li class="border-t border-t-slate-700 hover:text-coral-red-500">
                        <a class="block" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
