{% extends 'admin/base.html.twig' %}

{% set title = "Gestion des paramètres" %}

{% block pageTitle %}Admin - {{ title }}{% endblock %}

{% block body %}
    <main class="mx-auto mt-16 w-full max-w-screen-xl grow p-4">

        <h1 class="my-8 text-4xl font text-center">{{ title }}</h1>
        {% if not settings %}
            <div class="flex justify-end">
                <a class="rounded bg-slate-50 px-4 py-2 font-medium transition hover:bg-slate-600 hover:text-white"
                   href="{{ path('app_admin_settings_new') }}">Ajouter de nom de chaine</a>
            </div>
        {% endif %}

        <div class="overflow-auto">
            <table class="mt-4 min-w-full table-auto divide-y divide-gray-200">
                <thead class="bg-slate-300">
                <tr>
                    <th scope="col" class="w-1/3 p-4 text-center text-sm text-slate-600">Nom de chaine Twitch</th>
                    <th scope="col" class="w-1/3 p-4 text-center text-sm text-slate-600">Nom de chaine Youtube</th>
                </tr>
                </thead>
                <tbody class="bg-white font-medium divide-y divide-gray-300">
                    <tr class="transition hover:bg-slate-100">
                        <td class="whitespace-nowrap p-2 text-center text-gray-500">{{ settings.twitchChannel }}</td>
                        <td class="whitespace-nowrap p-2 text-center text-gray-500">{{ settings.youtubeChannel }}</td>
                        <td class="p-2">
                            <div class="flex justify-end gap-x-2">
                                <a title="Editer" class="rounded bg-slate-200 px-4 py-2 transition hover:bg-blue-300"
                                   href="{{ path('app_admin_settings_edit', {'id': settings.getId}) }}">
                                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                         class="h-5 w-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                                    </svg>
                                </a>
                                {{ include('admin/settings/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
